{% extends "horses/base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/2.1/ref/contrib/humanize -->
{% block content %}
<span style="float: right;">
({{ horse.updated_at|naturaltime }})
{% if horse.owner == user %}
<a href="{% url 'horse_update' horse.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'horse_delete' horse.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ horse.name }}</h1>
<p>
{{ horse.detail }}
</p>
<p>
{% if user.is_authenticated %}
<br clear="all"/>
<p>
<form method="post" action="{% url 'comment_create' horse.id %}">
    {% csrf_token %}
    {{ comment_form }}
<input type="submit" value="Submit">
</form>
</p>
{% endif %}
{% for comment in comments %}
<p> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}
</p>
<p>
<a href="{% url 'horses' %}">All horses</a>
</p>
{% endblock %}